# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data
data/raw/
data/processed/
*.csv

# Virtual environments
venv/
.env/
.venv/


# Logs and outputs
logs/
*.log

# OS‑specific
.DS_Store
Thumbs.db

#personal files
documentation.md
# IDE specific
.idea/
.vscode/


_init__.py
__init__.py
